body header div footer {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  background-color: crimson;
  font-size: 2rem;
  color: white;
  text-align: center;
}
.c1 {
  float: left;
  width: 20%;
  background-color: dodgerblue;
  font-size: 2rem;
  color: white;
}
.c2 {
  float: left;
  width: 80%;
  background-color: darkblue;
  font-size: 2rem;
  color: white;
}
footer {
  clear: both;
  width: 100%;
  background-color: darkred;
  font-size: 2rem;
  color: white;
  text-align: center;
}
