svg circle {
  animation-name: robotEyes;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

@keyframes robotEyes {
  0% { fill: lightblue; }
  100% { fill: red; }
}

svg rect {
  animation-name: robotMouth;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

@keyframes robotMouth {
  0% { fill: orange;
      height: 10%;
      }
  100% { fill: green;
        height: 20%;

  }
}
