div {
  width: 200px;
  height: 200px;
  border: 5px solid red;
  border-radius: 100%;
  background-image: url("../000_practice-image-folder/funny_cow.jpeg")
}

img {
  width: 200px;
  height: 200px;
  border: 5px dotted orange;
  border-radius: 100%;
}
